@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-size: clamp(0.79rem, 1vw + 0.3rem, 1.1rem);
}
.footer {
  background-color: #545454;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.copyright {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 1rem 0;
}
.contact-container {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
}

@media (min-width: 40rem) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .copyright {
    margin: 0 1rem;
  }
}
