* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
body {
  background-color: #f1ecec;
  margin: 0;
  margin-top: 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
